# Projeto de Bases de Dados - Parte 2

### Docente Respons√°vel

- Prof. Andr√© Patr√≠cio
- Prof. Jorge Oliveira

### Grupo 47 - Turno BD2L17
<dl>
    <dt>6 horas (33.3%)</dt>
    <dd>ist102927 Henrique Soares</dd>
    <dt>6 horas (33.3%)</dt>
    <dd>ist103606 Henrique Silva</dd>
    <dt>6 horas (33.3%)</dt>
    <dd>ist103624 Afonso Azaruja</dd>
<dl>

# Empresa de com√©rcio online

## 1 Convers√£o E-A para Modelo Relacional

Recorde a nota√ß√£o para o Modelo Relacional exposta nas aulas te√≥ricas como se segue:

- relacaoA (<u>atributo1</u>, ‚Ä¶ , atributoN)
    - atributoX, ‚Ä¶ , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, ‚Ä¶ , AtributoC)
- relacaoB (<u>atributo1</u>, ‚Ä¶ , atributoN)
    - atributoX, ‚Ä¶ , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, ‚Ä¶ , AtributoC)

1. As rela√ß√µes s√£o expressas por um nome seguido dos atributos entre par√™ntesis;
    - As chave prim√°rias s√£o expressas sublinhando os atributos que a comp√µem;
    - As chaves estrangeiras para outras rela√ß√µes s√£o expressas atrav√©s da lista de atributos que a comp√µem, seguida de ‚Äú: FK(RelacaoDestino)‚Äù. A ordem dos atributos que comp√µem a FK deve corresponder √† ordem dos atributos da chave na rela√ß√£o destino;
    - As chaves candidatas s√£o expressas atrav√©s da express√£o ‚Äúunique‚Äù, seguida da lista de atributos que a comp√µem entre par√™ntesis;
    - As restri√ß√µes de integridade ao Modelo Relacional s√£o descritas em termos dos conceitos deste modelo.

### 1.1 Modelo Relacional com Restri√ß√µes de Integridade

1. Desenvolva um Modelo Relacional correspondente ao modelo Entidade-Associa√ß√£o;
2. Complemente a seu Modelo Relacional com um conjunto de Restri√ß√µes de Integridade que represente o modelo E-A apresentado com a maior fidelidade.

- Customer(<u>cust_no</u>, name, email, phone, address)
  - unique(email)
    
- Orders(<u>order_no</u>, date, cust_no)
    - cust_no: FK(Customer) NOT NULL

- Sale(<u>order_no</u>)
  - order_no: FK(Orders)    

- pay(<u>order_no</u>, cust_no)
    - order_no: FK(Sale)
    - cust_no: FK(Customer)

- Employee(<u>SSN</u>, TIN, bdate, name)
    - unique(TIN)

- process(<u>SSN</u>, <u>order_no</u>)
    - SSN: FK(Employee)
    - order_no: FK(Orders) 

- Department(<u>name</u>)

- Workplace(<u>address</u>, lat, long)
    - unique(lat, long)

- works(<u>SSN</u>, <u>name</u>, <u>address</u>)
    - SSN: FK(Employee)
    - name: FK(Department)
    - address: FK(Workplace)

- Office(<u>address</u>)
    - address: FK(Workplace)

- Warehouse(<u>address</u>)
    - address: FK(Workplace)

- Product(<u>sku</u>, name, description, price)

- EAN Product(<u>sku</u>, ean)
    - sku: FK(Product)

- contain(<u>order_no</u>, <u>sku</u>, qty)
    - order_no: FK(Orders)
    - sku: FK(Product)

- Supplier(<u>TIN</u>, sku, name, address, date)
    - sku: FK(Product) NOT NULL

- delivery(sku, <u>TIN</u>, <u>address</u>)
    - TIN: FK(Supplier)
    - address: FK(Warehouse)

### 1.2 Restri√ß√µes de Integridade n√£o pass√≠veis de convers√£o

Identifique todas as Restri√ß√µes de Integridade do modelo Entidade-Associa√ß√£o apresentado que n√£o s√£o pass√≠veis de convers√£o para o modelo relacional.

- RI-1: Quando uma Order √© removida, tamb√©m deve ser removida de Sale e vice-versa.
- RI-2: Qualquer order_no em Orders tem que existir em contain.
- RI-3: Qualquer SSN em Employee tem que existir em works.
- RI-4: Qualquer sku em Product tem que existir em Supplier.
- RI-5: Quando um Workplace √© removido, tamb√©m deve ser removido de Office ou Warehouse e vice-versa.
- RI-6: Todos os pares (cust_no, order_no) em pay t√™m de estar em Orders.

## 2 Algebra Relacional

Recorde a nota√ß√£o exposta nas aulas te√≥ricas como se segue:

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

#### Simbolos
- $\cup$ union 			
- $\cap$ intersection 		
- $-$ difference 		
- $\times$ cartesian product 
- $\div$ division 			
- $\rho$ rename 			
- $\bowtie$ natural join 		
- $\wedge$ Logical AND 	
- $\vee$ Logical OR 	
- $\neg$ Logical NOT 	

Considerando o modelo relacional desenvolvido, apresente as express√µes alg√©bricas correspondentes a cada uma das seguintes interroga√ß√µes:

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de pre√ßo superior a ‚Ç¨50 no ano de 2023;

$\Pi_{Customer.name} \big( \sigma_{Product.price > 50 \wedge Orders.date > '31-12-2022' \wedge Orders.date < '01-01-2024'} (Customer \Join_{Customer.cust\_no = Orders.cust\_no} Order \Join_{Orders.order\_no = contain.order\_no} contain \Join_{contain.sku = Product.sku} Product) \big)$

2. Liste o nome de todos os empregados que trabalham em armaz√©ns e n√£o em escrit√≥rios e processaram encomendas em Janeiro de 2023;

$\Pi_{Employee.name}\big(\sigma_{Orders.date>'31-12-2022' \wedge Orders.date<'01-02-2023'}(Employee \Join_{Employee.SSN = process.SSN} process \Join_{process.order\_no = Orders.order\_no} Orders\Join_{Employee.SSN = works.SSN} works\Join_{works.address = Warehouse.address} Warehouse)\big) - \Pi_{Employee.name}\big(\sigma_{Orders.date>'31-12-2022' \wedge Orders.date<'01-02-2023'}(Employee \Join_{Employee.SSN = process.SSN} process \Join_{process.order\_no = Orders.order\_no} Orders\Join_{Employee.SSN = works.SSN} works\Join_{works.address = Office.address} Office)\big)$

3. Indique o nome do produto mais vendido;

$R \leftarrow \big({_{sku}}G_{sum(qty)\rightarrow total_qty}(Sale\Join_{Sale.order\_no = contain.order\_no}contain)\big)$

$R2 \leftarrow (Product\Join_{Product.sku = R.sku}R)$

$R3 \leftarrow \big(G_{max(total\_qty)\rightarrow max\_qty}(R2)\big)$

$\Pi_{name}\big(\sigma_{R2.qty = R3.max\_qty}(R2\times R3)\big)$

4. Indique o valor total de cada venda realizada.

$œÅ_{(2->total\_value)}(_{order\_no}ùê∫_{sum(qty \times price)}(Sale ‚ãà _{Sale.order\_no} = _{contain.order\_no}contain ‚ãà_{contain.sku} = _{Product.sku}Product)$

## 3 Tradu√ß√£o do Modelo Relacional para SQL

### 3.1 Esquema Relacional (schema.sql)

Crie uma base de dados SQL correspondente ao esquema Relacional desenvolvido no ponto anterior.
Utilizando a linguagem SQL (DDL), apresente as instru√ß√µes para criar o esquema de bases de dados correspondente ao modelo relacional desenvolvido. Deve certificar-se de que os tipos de dados e tamanhos de campo selecionados sejam os mais apropriados. As restri√ß√µes aplic√°veis a cada campo, linha e tabela tamb√©m devem ser especificadas recorrendo √†s instru√ß√µes NOT NULL, CHECK, PRIMARY KEY, UNIQUE e FOREIGN KEY conforme seja apropriado.


Nota: Apresente todas as restri√ß√µes existentes no modelo Relacional que n√£o podem ser capturadas (implementadas) no esquema SQL, escrevendo-as como coment√°rios na tabela respectiva.

In [ ]:
%load_ext sql
%sql postgresql://db:db@postgres/db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
MetaData.__init__() got an unexpected keyword argument 'bind'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
%%sql
-- schema.sql

DROP TABLE IF EXISTS Customer CASCADE;
DROP TABLE IF EXISTS Orders CASCADE;
DROP TABLE IF EXISTS Sale CASCADE;
DROP TABLE IF EXISTS Workplace CASCADE;
DROP TABLE IF EXISTS Warehouse CASCADE;
DROP TABLE IF EXISTS Office CASCADE;
DROP TABLE IF EXISTS EAN_Product CASCADE;
DROP TABLE IF EXISTS Product CASCADE;
DROP TABLE IF EXISTS Supplier CASCADE;
DROP TABLE IF EXISTS Employee CASCADE;
DROP TABLE IF EXISTS Department CASCADE;
DROP TABLE IF EXISTS pay CASCADE;
DROP TABLE IF EXISTS process CASCADE;
DROP TABLE IF EXISTS works CASCADE;
DROP TABLE IF EXISTS contain CASCADE;
DROP TABLE IF EXISTS delivery CASCADE;

CREATE TABLE Customer(
    cust_no BIGINT PRIMARY KEY,
    name VARCHAR,
    email VARCHAR UNIQUE,
    phone BIGINT,
    address VARCHAR
);

-- RI-1: Qualquer order_no em Orders tem que existir em contain.
CREATE TABLE Orders(
  order_no BIGINT PRIMARY KEY,
  date DATE,
  cust_no BIGINT REFERENCES Customer(cust_no) NOT NULL,
  UNIQUE (order_no, cust_no)
);

CREATE TABLE Sale(
  order_no BIGINT PRIMARY KEY REFERENCES Orders(order_no) ON DELETE CASCADE ON UPDATE CASCADE
);

CREATE TABLE pay(
  order_no BIGINT PRIMARY KEY REFERENCES Sale(order_no),
  cust_no BIGINT REFERENCES Customer(cust_no),
  FOREIGN KEY (order_no, cust_no) REFERENCES Orders(order_no, cust_no)
);

-- RI-2: Qualquer SSN em Employee tem que existir em works.
CREATE TABLE Employee(
  SSN BIGINT PRIMARY KEY,
  TIN BIGINT UNIQUE,
  bdate DATE,
  name VARCHAR
);

CREATE TABLE process(
  SSN BIGINT REFERENCES Employee(SSN),
  order_no BIGINT REFERENCES Orders(order_no),
  PRIMARY KEY (SSN, order_no)
);

CREATE TABLE Department(
  name VARCHAR PRIMARY KEY
);

CREATE TABLE Workplace(
  address VARCHAR PRIMARY KEY,
  lat REAL,
  long REAL,
  UNIQUE (lat, long)  
);

CREATE TABLE works(
  SSN BIGINT REFERENCES Employee(SSN),
  name VARCHAR REFERENCES Department(name),
  address VARCHAR REFERENCES Workplace(address),
  PRIMARY KEY (SSN, name, address)
);

CREATE TABLE Office(
  address VARCHAR PRIMARY KEY REFERENCES Workplace(address) ON DELETE CASCADE ON UPDATE CASCADE
);

CREATE TABLE Warehouse(
  address VARCHAR PRIMARY KEY REFERENCES Workplace(address) ON DELETE CASCADE ON UPDATE CASCADE
);

-- RI-3: Qualquer sku em Product tem que existir em Supplier.
CREATE TABLE Product(
  sku VARCHAR PRIMARY KEY,
  name VARCHAR,
  description VARCHAR,
  price NUMERIC,
  CHECK (price > 0) 
);

CREATE TABLE EAN_Product(
  sku VARCHAR PRIMARY KEY REFERENCES Product(sku),
  ean BIGINT
);

CREATE TABLE contain(
  order_no BIGINT REFERENCES Orders(order_no),
  sku VARCHAR REFERENCES Product(sku),
  qty INTEGER,
  PRIMARY KEY (order_no, sku)
);

CREATE TABLE Supplier(
  TIN BIGINT PRIMARY KEY,
  sku VARCHAR REFERENCES Product(sku) NOT NULL,
  name VARCHAR,
  address VARCHAR,
  date DATE
);

CREATE TABLE delivery(
  sku VARCHAR REFERENCES Product(sku),
  TIN BIGINT REFERENCES Supplier(TIN),
  address VARCHAR REFERENCES Warehouse(address),
  PRIMARY KEY (TIN, address)
);

UsageError: Cell magic `%%sql` not found.

### 3.2 Carregamento da Base de Dados

Crie um script SQL (DML) com todas as instru√ß√µes INSERT necess√°rias para criar alguns dados de teste sint√©ticos para facilitar a valida√ß√£o dos resultados esperados das consultas (lembre-se de que cada tabela deve conter pelo menos uma linha e que todas as consulta t√™m de retornar um resultado n√£o vazio).

In [ ]:
%%sql
-- populate.sql

INSERT into Customer values (1231231234,'Luis Nogueira', 'luisnogueira@gmail.com', 968754123 ,'Rua de Cima, Musgueira');
INSERT into Customer values (5670980001,'Vitoria Silva', 'vitoriasilva1@gmail.com' ,917654321 ,'Alameda');
INSERT into Customer values (2347653459,'Rita Avestruz', 'ritaavestruz@gmail.com' , 936874521 ,'Rua do Forte, Almada');
INSERT into Customer values (1981110001,'Alberto Bito', 'albertoBito@hotmail.pt' , 966152489 ,'Cais do Sodr√©');
INSERT into Customer values (0019802131,'Pedro Baril', 'pedroBarilz@hotmail.pt' , 987654321 ,'Rua do Feio, Telheiras');

INSERT into Orders values (0001110002, '2023-01-10', 1981110001);
INSERT into Orders values (7425813697, '2022-11-11', 1981110001);
INSERT into Orders values (1472583695, '2019-03-01', 1231231234);
INSERT into Orders values (4561237895, '2023-01-23', 1981110001);
INSERT into Orders values (3216549870, '2019-06-22', 1231231234);
INSERT into Orders values (1592648753, '2017-11-25', 5670980001);
INSERT into Orders values (3576824456, '2020-12-06', 1231231234);
INSERT into Orders values (9865478512, '2020-07-10', 5670980001);
INSERT into Orders values (1452145214, '2012-01-01', 5670980001);
INSERT into Orders values (3216549875, '2023-01-05', 2347653459);
INSERT into Orders values (1452365214, '2023-01-11', 1981110001);
INSERT into Orders values (1598744785, '2023-01-07', 2347653459);
INSERT into Orders values (1234569512, '2023-03-18', 0019802131);
INSERT into Orders values (3526481954, '2018-05-26', 0019802131);
INSERT into Orders values (8452145215, '2023-01-17', 0019802131);

INSERT into Sale values (3216549870);
INSERT into Sale values (1592648753);
INSERT into Sale values (3576824456);
INSERT into Sale values (9865478512);
INSERT into Sale values (1452145214);
INSERT into Sale values (3216549875);
INSERT into Sale values (1452365214);
INSERT into Sale values (1598744785);
INSERT into Sale values (1234569512);
INSERT into Sale values (3526481954);
INSERT into Sale values (8452145215);

INSERT into pay values (3216549870, 1231231234);
INSERT into pay values (1592648753, 5670980001);
INSERT into pay values (3576824456, 1231231234);
INSERT into pay values (9865478512, 5670980001);
INSERT into pay values (1452145214, 5670980001);
INSERT into pay values (3216549875, 2347653459);
INSERT into pay values (1452365214, 1981110001);
INSERT into pay values (1598744785, 2347653459);
INSERT into pay values (1234569512, 0019802131);
INSERT into pay values (3526481954, 0019802131);
INSERT into pay values (8452145215, 0019802131);

INSERT into Employee values (9584031852, 949103209, '2000-10-02', 'Josefino Antunes');
INSERT into Employee values (4031852958, 949091032, '1999-12-01', 'Leonardo Fa√≠sca');
INSERT into Employee values (4039581852, 109093294, '1998-06-02', 'Roberto Estrada');
INSERT into Employee values (9581852403, 291034909, '1990-01-22', 'Maria Costa');
INSERT into Employee values (8529584031, 909103294, '2001-03-20', 'Susana Grilo');

INSERT into process values (9584031852,3216549870);
INSERT into process values (9581852403,7425813697);
INSERT into process values (9581852403,3576824456);
INSERT into process values (9584031852,9865478512);
INSERT into process values (8529584031,1452145214);
INSERT into process values (9584031852,3216549875);
INSERT into process values (4031852958,1452365214);
INSERT into process values (4039581852,1592648753);
INSERT into process values (9584031852,1234569512);
INSERT into process values (4039581852,3526481954);
INSERT into process values (8529584031,8452145215);

INSERT into Department values ('Recursos Humanos');
INSERT into Department values ('Inventario');
INSERT into Department values ('Logistica');
INSERT into Department values ('Apoio ao Cliente');
INSERT into Department values ('Marketing');

INSERT into Workplace values ( 'Rua do Simplicio Simplorio da Simplicidade Simples' , 100.234 , 40.402 );
INSERT into Workplace values ( 'Rua da Musgueira' , 102.214 , 39.202 );
INSERT into Workplace values ( 'Rua do Maicens' , 99.235 , 40.402 );
INSERT into Workplace values ( 'Rua Baril' , 95.144 , 42.442 );
INSERT into Workplace values ( 'Rua Arruinada' , 93.654 , 38.098 );

INSERT into Office values ('Rua da Musgueira');
INSERT into Office values ('Rua Arruinada');

INSERT into Warehouse values ('Rua da Musgueira');
INSERT into Warehouse values ('Rua do Simplicio Simplorio da Simplicidade Simples');
INSERT into Warehouse values ('Rua do Maicens');
INSERT into Warehouse values ('Rua Baril');

INSERT into works values (9584031852, 'Recursos Humanos', 'Rua do Simplicio Simplorio da Simplicidade Simples');
INSERT into works values (9584031852, 'Recursos Humanos', 'Rua da Musgueira');
INSERT into works values (4031852958, 'Inventario', 'Rua da Musgueira');
INSERT into works values (4039581852, 'Logistica', 'Rua do Maicens');
INSERT into works values (9581852403, 'Apoio ao Cliente', 'Rua Baril');
INSERT into works values (8529584031, 'Marketing', 'Rua Baril');

INSERT into Product values (2654985632, 'vela ecologica', 'Esta vela e perfumada com uma fragrancia floral natural. Uma combinacao de perfume terapeutico de lavanda e ervas aromaticas com a frescura da canfora. Agradavel para todo o ano e ocasioes. Uma combinacao de luz brilhante e perfume envolvente que cria um ambiente exotico que estimula os sentidos.', 15.35);
INSERT into Product values (4653215258, 'SWEET DREAMS ARE MADE OF TEA', 'A Tisana Sweat Dreams Are Made of Tea produzida pela Paisagindo.bio., tem propriedades relaxantes e calmantes. E excelente quando bebida quente antes de dormir ou em alturas de maior stress.', 4.10);
INSERT into Product values (6352945125, 'TEMPERO MEDITERRANICO 25g', 'Esta mistura da Paisagingo.bio e feita apenas e so com plantas aromaticas, legumes e especiarias desidratadas a baixa temperatura e da melhor qualidade foi pensada para os amantes dos sabores do Sul da Europa e dos beneficios da dieta mediterranica.', 3.90);
INSERT into Product values (8659523254, 'ULTRA CLEAN', 'O Ultra Clean e um produto 2 em 1, desengordurante e desinfetante concentrado. Desengordurante biodegradavel, germicida, bactericida e inodoro. O Ultra Clean penetra profundamente para remover as camadas de gordura, sujidade, derrames de oleo, aliado com o seu poder desinfetante. Nao contem nafta, benzina ou solventes clorados.', 50.90);
INSERT into Product values (6352145236, 'TOALHITAS DESINFETANTES', 'As toalhitas desinfetantes Lunette sao o teu produto de limpeza para levar, quando nao tens agua por perto. Viagens de carro, casas de banho dos avioes ou dos festivais, ou o cubiculo do escritorio - vais estar totalmente preparada. As toalhitas desinfetantes Lunetteeliminam grande parte dos germes, permitindo que uses o teu copo menstrual em seguranca.', 4.90);
INSERT into Product values (4251452152, 'SABONETE ESFOLIANTE MENTA 100g', 'Seja qual for o seu tipo de pele, esfolie, renove e refresque-a com o sabonete esfoliante de menta da Unii a base de oleo essencial de hortela-pimenta. Bastante energetico, este sabonete promove a renovacao celular, removendo impurezas e celulas mortas, deixando a pele como nova!', 70.90);
INSERT into Product values (8659625412, 'SABONETE SUAVIZANTE AMENDOAS DOCES & ALFAZEMA 100g', 'O Sabonete de Amendoas Doces & Lavanda da Unii foi desenvolvido para peles sensiveis, corpo e rosto. O oleo de amendoas doces tem uma acao protetora e em conjunto com a alfazema proporciona um efeito calmante na pele, deixando-a com um suave aroma de amendoas doces e alfazema.', 6.90);
INSERT into Product values (2635986532, 'SAL - SABONETE DE SAL MARINHO 100g', 'E um sabonete mais alternativo pela quantidade de sal presente no sabao. O sal tem acao bactericida, ajuda a desintoxicar e a eliminar as impurezas e celulas mortas da superficie da pele. Sabonete com o poder revitalizante do sal e a frescura do oleo essencial de hortela-pimenta, que cria uma experiencia unica de banho. Trata-se de uma barra de sal com um poder de limpeza extraordinario.', 6.00);
INSERT into Product values (0215124521, 'SO LOI√áA - SABAO PARA A LOICA 180g', 'Sabao para a loica e o seu aliado perfeito para uma lavagem manual eficaz. Elimina facilmente sujidades e gorduras de todo o tipo de loica. Isto com uma espuma fina e um aroma agradavel a limao e alfazema.', 45.90);
INSERT into Product values (0231564896, 'PROTETOR SOLAR NATURAL SPF50 100ml', 'O protetor solar natural SPF 50 da Sol de Ibiza foi concebido para uma protecao eficaz contra os raios UVA e UVB, com ingredientes 100% naturais. Formulado com oxido de zinco nao nano, e resistente a agua e nao contem conservantes ou ingredientes toxicos para nos e para o meio ambiente. E adequado para adultos e criancas, para todos os tipos de pele e pode ser utilizado diariamente.', 52.10);
INSERT into Product values (2514251425, 'SABONETE DE AZEITE 75g', 'Sabonete Aromas do Valado e feito a base azeite, sem oleos essenciais, aromatizado apenas com hidrolato (agua floral) de esteva.', 4.50);
INSERT into Product values (8965478512, 'PASTA DE DENTES NATURAL CARVAO COM FLUOR 75ml', 'Cuidadosamente formulada para prevenir c√°ries e proteger ativamente contra as c√°ries e placa bacteriana. O sabor a menta fresca ajuda a prevenir o mau h√°lito enquanto a infus√£o de carv√£o natural ajuda a remover manchas e descolora√ß√µes.', 4.45);
INSERT into Product values (6235632563, 'PASTA DE DENTES PASTILHAS FLUOR 60u', 'As pastilhas sao cuidadosamente formulados para prevenir caries e proteger ativamente contra caries e placas. Livre de SLS e parabenos com sabor natural de menta fresca e 1450 ppm de fluoreto de sodio. Sao Vegan e Cruelty-free.', 4.99);
INSERT into Product values (8456321595, 'OLEO PURO ROSA MOSQUETA 50ml', 'O Oleo Puro Biologico Rosa Mosqueta da Unii e a melhor fonte vegetal de omega 3 e omega 6 no combate ao envelhecimento e na regeneracao da pele. Vai deixar a sua pele com um suave aroma de rosa mosqueta. Previne e minimiza estrias e cicatrizes.', 60.23);
INSERT into Product values (8888866666, 'LUVA DE MASSAGEM DE LINHO', 'Luva de banho confeccionada em linho. Gracas ao seu formato de luva, a sua utilizacao e extremamente facil. Ideal para a remocao de celulas mortas e ativacao da circulacao.', 10.40);
INSERT into Product values (9562849562, 'Sabonete para barba 100g', 'Sabonete a base de azeite com oleos essenciais que ajudam a minimizar o efeito irritativo do barbear acalmando e suavizando a pele.', 6.00);
INSERT into Product values (9638527415, 'Oleo de barba 30ml', 'O Oleo de Barba da Healthy Planet e formulado com os melhores oleos essenciais, tal como o Oleo de Semente de Uva e o Oleo de Argao.', 11.50);
INSERT into Product values (6546546546, 'Barra de Barbear Power Shave 80g', 'A barra de barbear Power Shave prepara a pele para um barbear mais agradavel, minimizando a irritacao e a vermelhidao.', 9.90);
INSERT into Product values (3213213213, 'Conjunto de Sabonete e Pincel', 'Colecao especial para homem e um complemento ao sabonete de barbear.', 18.00);
INSERT into Product values (3265149587, 'CONJUNTO DE SABONETE, PINCEL E TACA', 'Colecao especial para homem e um complemento ao sabonete de barbear.', 25.00);
INSERT into Product values (9568965895, 'BARBUDO - SABONETE PARA A BARBA 100g', 'Sabonete a base de azeite extra virgem e aromatizado com oleo essencial de geranio, otimo para lavar a barba e rosto.', 6.00);
INSERT into Product values (1490242093, 'CHAMPO SOLIDO E SABONETE 2 EM 1 POWER SHOWER 100g', 'Este champo e sabonete 2 em 1 da Shaeco oferece a pratico e simples que qualquer homem procura!', 9.90);
INSERT into Product values (5623154251, 'DESODORIZANTE PEDRA DE ALUMEN BIORK', 'O Biork e um desodorizante completamente ecologico, feito de pedra de alumen de potassio com origem na Malasia e revestido de cortica portuguesa reciclavel.', 13.90);
INSERT into Product values (5490242093, 'CHAMPO SOLIDO ESFOLIANTE DETOX 75g', 'Este champo esfoliante de limpeza profunda da Unii e perfeito para uma desintoxicacao e purificacao profunda de todos os tipos de cabelo.', 9.90);
INSERT into Product values (9490242093, 'GALEGA - SABONETE DE AZEITE DE OLIVEIRA 100g', 'Sabonete de azeite extra virgem sem aroma adicionado.', 6.00);
INSERT into Product values (7949024209, 'SABONETE DE CARVAO ATIVADO E PINHO 100g', 'Sabonete a base de azeite extra virgem, carvao ativado e aromatizado com oleo essencial de pinho.', 6.00);
INSERT into Product values (3624678687, 'BALSAMO LABIAL DE CANHAMO', 'Balsamo labial  da Suntribe e altamente hidratante e calmante. Fornece os primeiros socorros para labios secos e gretados, gracas ao oleo de semente de canhamo, um oleo radicalmente hidratante.', 6.99);

INSERT into EAN_Product values (6546546546, 1324567891235);
INSERT into EAN_Product values (3213213213, 9876543219875);
INSERT into EAN_Product values (3265149587, 1594862357845);
INSERT into EAN_Product values (9568965895, 4561237896542);
INSERT into EAN_Product values (1490242093, 1231895546126);
INSERT into EAN_Product values (5623154251, 9875641826245);
INSERT into EAN_Product values (5490242093, 9875192574852);
INSERT into EAN_Product values (9490242093, 3576941621654);
INSERT into EAN_Product values (7949024209, 1954785451235);
INSERT into EAN_Product values (3624678687, 1594856235486);

INSERT into Supplier values (987123465, 2654985632, 'Fornecedor dos Fornecimentos 0 Lda.', 'Rua das Industrias', '2020-01-01' );
INSERT into Supplier values (987123461, 4653215258, 'Fornecedor dos Fornecimentos 1 Lda.', 'Rua das Industrias', '2020-01-01' );
INSERT into Supplier values (987123460, 6352945125, 'Fornecedor dos Fornecimentos 2 Lda.', 'Rua das Industrias', '2020-01-01' );
INSERT into Supplier values (987123462, 8659523254, 'Fornecedor dos Fornecimentos 3 Lda.', 'Rua das Industrias', '2020-01-01' );
INSERT into Supplier values (987123463, 6352145236, 'Fornecedor dos Fornecimentos 4 Lda.', 'Rua das Industrias', '2020-01-01' );
INSERT into Supplier values (987123464, 4251452152, 'Fornecedor dos Fornecimentos 5 Lda.', 'Rua das Industrias', '2020-01-01' );
INSERT into Supplier values (987123467, 8659625412, 'Fornecedor dos Fornecimentos 6 Lda.', 'Rua das Industrias', '2020-01-01' );
INSERT into Supplier values (987123469, 2635986532, 'Fornecedor dos Fornecimentos 7 Lda.', 'Rua das Industrias', '2020-01-01' );
INSERT into Supplier values (987123415, 0215124521, 'Fornecedor dos Fornecimentos 8 Lda.', 'Rua das Industrias', '2020-01-01' );
INSERT into Supplier values (987123425, 0231564896, 'Fornecedor dos Fornecimentos 9 Lda.', 'Rua das Industrias', '2020-01-01' );
INSERT into Supplier values (987123435, 2514251425, 'Fornecedor dos Fornecimentos 10 Lda.', 'Rua das Industrias', '2020-01-01' );
INSERT into Supplier values (987123445, 8965478512, 'Fornecedor dos Fornecimentos 11 Lda.', 'Rua das Industrias', '2020-01-01' );
INSERT into Supplier values (987123455, 6235632563, 'Fornecedor dos Fornecimentos 12 Lda.', 'Rua das Industrias', '2020-01-01' );
INSERT into Supplier values (987123475, 8456321595, 'Fornecedor dos Fornecimentos 13 Lda.', 'Rua das Industrias', '2020-01-01' );
INSERT into Supplier values (109872386, 8888866666, 'Rei dos Fornecedores 1 Lda.', 'Rua Alberto Caeiro', '2021-01-01');
INSERT into Supplier values (109872396, 9562849562, 'Rei dos Fornecedores 2 Lda.', 'Rua Alberto Caeiro', '2021-01-01');
INSERT into Supplier values (109172346, 9638527415, 'Rei dos Fornecedores 3 Lda.', 'Rua Alberto Caeiro', '2021-01-01');
INSERT into Supplier values (109272346, 6546546546, 'Rei dos Fornecedores 4 Lda.', 'Rua Alberto Caeiro', '2021-01-01');
INSERT into Supplier values (109372346, 3213213213, 'Rei dos Fornecedores 5 Lda.', 'Rua Alberto Caeiro', '2021-01-01');
INSERT into Supplier values (109472346, 9568965895, 'Rei dos Fornecedores 6 Lda.', 'Rua Alberto Caeiro', '2021-01-01');
INSERT into Supplier values (109572346, 1490242093, 'Rei dos Fornecedores 7 Lda.', 'Rua Alberto Caeiro', '2021-01-01');
INSERT into Supplier values (109672346, 5623154251, 'Rei dos Fornecedores 8 Lda.', 'Rua Alberto Caeiro', '2021-01-01');
INSERT into Supplier values (109772346, 5490242093, 'Rei dos Fornecedores 9 Lda.', 'Rua Alberto Caeiro', '2021-01-01');
INSERT into Supplier values (109872346, 9490242093, 'Rei dos Fornecedores 10 Lda.', 'Rua Alberto Caeiro', '2021-01-01');
INSERT into Supplier values (109972346, 7949024209, 'Rei dos Fornecedores 11 Lda.', 'Rua Alberto Caeiro', '2021-01-01');
INSERT into Supplier values (100872346, 3624678687, 'Rei dos Fornecedores 12 Lda.', 'Rua Alberto Caeiro', '2021-01-01');
INSERT into Supplier values (101872346, 3265149587, 'Rei dos Fornecedores 13 Lda.', 'Rua Alberto Caeiro', '2021-01-01');

INSERT into contain values (0001110002, 8659523254, 2); 
INSERT into contain values (7425813697, 2654985632, 1); 
INSERT into contain values (1472583695, 4653215258, 4); 
INSERT into contain values (4561237895, 1490242093, 5); 
INSERT into contain values (3216549870, 3213213213, 1); 
INSERT into contain values (1592648753, 8965478512, 4); 
INSERT into contain values (3576824456, 6235632563, 1); 
INSERT into contain values (9865478512, 8456321595, 4); 
INSERT into contain values (1452145214, 8888866666, 7); 
INSERT into contain values (3216549875, 9562849562, 2); 
INSERT into contain values (1452365214, 6546546546, 1); 
INSERT into contain values (1598744785, 3213213213, 2); 
INSERT into contain values (1234569512, 3265149587, 3); 
INSERT into contain values (3526481954, 7949024209, 5); 
INSERT into contain values (8452145215, 3624678687, 1);

INSERT into delivery values (2654985632, 987123465, 'Rua do Simplicio Simplorio da Simplicidade Simples');
INSERT into delivery values (4653215258, 987123461, 'Rua do Maicens');
INSERT into delivery values (6352945125, 987123460, 'Rua Baril');
INSERT into delivery values (8659523254, 987123462, 'Rua da Musgueira');
INSERT into delivery values (6352145236, 987123463, 'Rua Baril');
INSERT into delivery values (4251452152, 987123465, 'Rua da Musgueira');
INSERT into delivery values (8659625412, 987123464, 'Rua do Simplicio Simplorio da Simplicidade Simples');
INSERT into delivery values (2635986532, 987123469, 'Rua do Maicens');
INSERT into delivery values (0215124521, 987123415, 'Rua do Maicens');
INSERT into delivery values (0231564896, 987123425, 'Rua da Musgueira');
INSERT into delivery values (2514251425, 987123435, 'Rua Baril');
INSERT into delivery values (8965478512, 987123445, 'Rua Baril');
INSERT into delivery values (6235632563, 987123455, 'Rua da Musgueira');
INSERT into delivery values (8456321595, 987123475, 'Rua Baril');
INSERT into delivery values (8888866666, 109872386, 'Rua do Maicens');
INSERT into delivery values (9562849562, 109872396, 'Rua Baril');
INSERT into delivery values (9638527415, 109172346, 'Rua do Maicens');
INSERT into delivery values (6546546546, 109272346, 'Rua Baril');
INSERT into delivery values (3213213213, 109372346, 'Rua da Musgueira');
INSERT into delivery values (3265149587, 109872346, 'Rua do Maicens');
INSERT into delivery values (9568965895, 109472346, 'Rua Baril');
INSERT into delivery values (1490242093, 109572346, 'Rua do Maicens');
INSERT into delivery values (5623154251, 109672346, 'Rua do Maicens');
INSERT into delivery values (5490242093, 109772346, 'Rua do Maicens');
INSERT into delivery values (9490242093, 109872346, 'Rua do Simplicio Simplorio da Simplicidade Simples');
INSERT into delivery values (7949024209, 109972346, 'Rua do Maicens');
INSERT into delivery values (3624678687, 100872346, 'Rua do Simplicio Simplorio da Simplicidade Simples');

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- populate.sql

-- CREATE TABLE ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

## 4 Linguagem SQL

Apresente a express√£o SQL correspondente  a cada uma das interroga√ß√µes de √Ålgebra Relacional.

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de pre√ßo superior a ‚Ç¨50 no ano de 2023;

In [ ]:
%%sql

SELECT Customer.name
FROM Customer INNER JOIN Orders USING (cust_no) INNER JOIN contain USING (order_no) INNER JOIN Product USING (sku)
WHERE Product.price > 50 AND EXTRACT(YEAR FROM Orders.date) = 2023;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

2. Liste o nome de todos os empregados que trabalham em armaz√©ns e n√£o em escrit√≥rios e processaram encomendas em Janeiro de 2023;

In [ ]:
%%sql

SELECT Employee.name
FROM Employee INNER JOIN process USING (SSN) INNER JOIN Orders USING (order_no) INNER JOIN works ON (Employee.SSN = works.SSN) INNER JOIN Warehouse USING (address)
WHERE EXTRACT(YEAR FROM Orders.date) = 2023 AND EXTRACT(MONTH FROM Orders.date) = 1
EXCEPT
SELECT Employee.name
FROM Employee INNER JOIN process USING (SSN) INNER JOIN Orders USING (order_no) INNER JOIN works ON (Employee.SSN = works.SSN) INNER JOIN Office USING (address)
WHERE EXTRACT(YEAR FROM Orders.date) = 2023 AND EXTRACT(MONTH FROM Orders.date) = 1;

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

3. Indique o nome do produto mais vendido;

In [ ]:
%%sql

WITH R AS (
  SELECT sku, SUM(QTY) AS total_qty FROM SALE INNER JOIN contain USING (order_no) GROUP BY sku
),
R2 AS (
  SELECT * FROM Product INNER JOIN R using (sku)
),
R3 AS (
  SELECT MAX(total_qty) AS max_qty FROM R2
)
SELECT name FROM R2, R3 
WHERE R2.total_qty = R3.max_qty;

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

4. Indique o valor total de cada venda realizada.

In [ ]:
%%sql

SELECT order_no, SUM(qty*price)
FROM Sale INNER JOIN contain USING (order_no) INNER JOIN Product USING (sku)
GROUP BY order_no;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])